/* global settings */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}


/* general classes */

.hidden {
    display: none !important;
}

.gradient-bar {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    height: 2vh;
    padding: 3px;
}

.gradient-color {
    width: 10vw;
}


/* general control styles */


button::-moz-focus-inner {
    border: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: white;
    height: 28px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding-left: 5px;
    padding-right: 30px;
    border-radius: 3px;
}

select:hover:enabled {
    background-color: lightgray;
}

select::-ms-expand {
    display: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 black;
}

.select-container {
    display: inline-block;
    position: relative;
}

.select-container:after {
    position: absolute;
    content: "\203A";
    transform: rotate(90deg);
    color: gray;
    font-size: 13.5pt;
    right: 10px;
    top: 0;
    pointer-events: none;
}

input[type=number] {
    background-color: white;
    height: 25px;
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    padding-left: 5px;
    margin-right: 5px;
}

input[type=number]:hover:enabled {
    background-color: lightgray;
}

input[type=radio], input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: white;
    color: dimgray;
    height: 25px;
    width: 25px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
}

input[type=radio] {
    border-radius: 50px;
}

input[type=checkbox] {
    border-radius: 3px;
}

input[type=radio]:checked::before, input[type=checkbox]:checked::before {
    position: absolute;
    content: "\02143";
    transform: rotate(40deg);
    font-size: 15px;
    left: 9px;
    top: 4px;
}

input[type=radio]:hover, input[type=checkbox]:hover {
    background-color: lightgray;
}


/* tooltip */

.tooltip {
    visibility: hidden;
    background-color: black;
    opacity: 0.5;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: 35px;
    margin-left: -60px;
    transition-delay: 0.5s;
}

label:hover .tooltip {
    visibility: visible;
}

.tooltip:hover {
    opacity: 1.0;
    transition-delay: 0s;
}

.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-left: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}


/* hover box */

#hover-box {
    position: fixed;
    border: 0;
    background-color: white;
    opacity: 0.75;
    margin: 2px;
    padding: 20px;
}

#hover-box:hover {
    opacity: 1.0;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
}

#hover-table tr td {
    vertical-align: top;
}

#hover-table tr td:nth-last-child(2) {
    width: 60px;
    font-weight: bold;
}

#hover-table tr td:nth-last-child(2):first-letter {
    text-transform: capitalize;
}

#hover-table tr td:nth-last-child(1) {
    max-width: 200px;
    text-overflow: ellipsis;
}

#hover-table tr td button:only-child {
    background-color: lightgray;
    height: 25px;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0px 15px;
    border-radius: 2px;
    font-size: 8pt;
}

#hover-table tr td button:only-child:hover {
    background-color: darkgray;
}

.switch-button-container {
    position: absolute;
    top: 0vh;
    left: 0vw;
}
#switch-btn {
    position: absolute;
    top: 0vh;
    left: 0vw;
}

canvas {
    /*width: 66vw;
    height: 75vh;*/
    width: 100vw;
    height: 100vh;
}

.tree-surface {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vw;
}

/* referenced from  https://webglfundamentals.org/webgl/lessons/webgl-text-html.html*/
.container {
    position: absolute;
    top: 0vh;
    left: 0vw;
    overflow: none;
    width: 100vw;
    height: 100vh;
}

#dvicontainer {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

.floating-div {
    position: absolute;
}
/* end of reference */

/* color key */
.gradient-label {
    overflow: visible;
    white-space: nowrap;
    display: inline-block;
}
#node-color-key, #tip-color-key {
    border: solid;
    border-width: 1px;
    max-height: 25vh;
    display: inline-flex;
    flex-direction: column;
    overflow: auto;
}
/*end of color key*/

/* control panel */

#side-panel {
    background: #fff;
    position: fixed;
    top: 0vh;
    left: calc(100vw - 450px);
    width: 450px;
    opacity: 0.5;
}

.side-header {
    background-color: #777;
    color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    margin: 0;
}

button.side-header {
    padding: 15px 20px;
    width: 100%;
    font-size: 11pt;
}

p.side-header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

p.side-header input[type=text]:hover {
    background-color: lightgray;
}

p.side-header button {
    height: 40px;
    width: 50px;
    border: none;
    outline: none;
    font-size: 15pt;
    color: white;
    cursor: pointer;
    background-color: transparent;
}

.active, button.side-header:hover, p.side-header button:hover {
    background-color: #555;
}


/* quick search */

#quick-search {
    color: white;
    height: 36px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: transparent;
    font-size: 10.5pt;
}

#quick-search:hover {
    background-color: lightgray;
}


/* controls */

.control {
    padding: 5px 20px;
    overflow: hidden;
    color: #444;
    background-color: whitesmoke;
    font-size: 10.5pt;
}

.control p {
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.control p label:first-of-type {
    margin-right: auto;
}

.control p button {
    color: white;
    background-color: gray;
    height: 32px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 10pt;
}

.control p button:hover {
    background-color: dimgray;
}

.control p button:only-child {
    margin-right: auto;
}

.control hr {
    border-top: 1px solid lightgray;
    border-bottom: none;
    margin-bottom: 20px;
}

.tab-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    height: unset;
    background: grey;
}

.attr {
    grid-area: attr;
}

.btn {
    grid-area: btn;
}
.attr-selector {
    overflow: auto;
    width: 32vw;
    height: 50vh;
}

.attr-item {
    display: grid;
    grid-template-areas:
        'btn btn .'
        '. attr attr';
    border: 3px solid black;
    padding-top: 4px;
}

.clr {
    grid-area: clr;
}

.cld {
    grid-area: cld;
}

.color-item {
    display: grid;
    grid-template-areas:
        'cld cld .'
        'clr . .';
    border: 3px solid black;
    padding-top: 4px;
}

.menu {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.square {
    position: absolute;
    height: 0px;
    width: 0px;
    background-color: #555;
    opacity: 0.5;
}

.selected-tree-menu {
    position: absolute;
    visibility: hidden;
}

#label-dropbox {
    display: grid;
    grid-template-columns: 1fr;
}

#toggle-pages {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 12px;
    width: 60;
    border: 2px sold black;
}


/* modal */

div.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

div.modal-body {
    border: none;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
    background: white;
    width: 80%;
    max-width: 700px;
    margin: 5% auto;
    overflow: hidden;
}

div.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    height: 40px;
    font-size: 11pt;
    background-color: #777;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

div.modal-header label:first-letter {
    text-transform: capitalize;
}

div.modal-content {
    padding: 20px;
    background-color: whitesmoke;
    font-size: 10.5pt;
}

div.modal-footer {
    height: 3px;
    background-color: #777;
}

button.close {
    background-color: transparent;
    color: white;
    font-size: 16pt;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
  }

button.close:hover {
    background-color: gray;
}
