---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'air' }}"; // skin
@import "minimal-mistakes"; // main partials

// https://github.com/mmistakes/minimal-mistakes/issues/1219
html {
    font-size: 12px; // originally 16px
    @include breakpoint($medium) {
        font-size: 14px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 16px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 18px; // originally 22px
    }
}

h4 {
    font-size: $type-size-5;
    font-style: italic;
}

.page__content {
    p, li, dl {
        font-size: 0.95em;
    }
}

.sidebar ul > li {
    font-size: 0.85em;
    padding-left: 10px;
}

.sidebar ul > li > ul > li {
    list-style-type: '-';
}

.sidebar li a:hover {
    color: $link-color;
}

.page__footer {
    footer {
        margin-top: 0;
        padding: 1.5em 2em;
        font-family: $global-font-family;
        font-size: $type-size-6;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li {
        display: inline-block;
    }
    li + li:before {
        content: '';
        padding-right: 5px;
    }
    a {
        white-space: nowrap;
    }
}
